name: Validate

on:
  workflow_dispatch:            # Can be triggered manually from the Actions tab
  schedule:
    - cron: "0 0 * * *"        # Every day at midnight
  push:
    branches:
      - "main"                  # On every push to main
  pull_request:
    branches:
      - "main"                  # On every PR targeting main

jobs:
  hassfest:
    name: "Hassfest Validation"
    runs-on: "ubuntu-latest"
    steps:
        - name: "Checkout the repository"
          uses: "actions/checkout@v6"

        - name: "Run hassfest validation"
          uses: "home-assistant/actions/hassfest@master"

  hacs:
    name: "HACS Validation"
    runs-on: "ubuntu-latest"
    steps:
        - name: "Checkout the repository"
          uses: "actions/checkout@v6"

        - name: "Run HACS validation"
          uses: "hacs/action@main"
          with:
            category: "integration"
